.cart-widget {
  position: relative;
  cursor: pointer;
  text-align: center;
}

.qty-display {
  color: azure;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: rgb(218, 31, 31);
  border-radius: 50%;
  font-size: 12px;
  position: absolute;
  text-align: center;
  line-height: 17px;
}
